<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

<bean id="hworld" class="core.innerBean.HelloWorld">
	<property name="message">
		<!-- inner bean, accessible to HelloWorld only -->
		<bean class="core.innerBean.Message">
			<constructor-arg value="Message will be injected through setter"/> <!-- injecting simple type i.e. String -->
		</bean>	
	</property>
</bean>

</beans>