<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

<bean id="message" class="core.dependencyInjection.constructorBased.Message">
	<constructor-arg value="String injected to the constructor"/> <!-- injecting simple type i.e. String -->
</bean>

<bean id="hworld" class="core.dependencyInjection.constructorBased.HelloWorld">
	<constructor-arg ref="message"/> <!-- injecting reference type i.e. message bean -->
</bean>

<!-- Constructor argument resolution -->
<bean id="usingTypeValue" class="core.dependencyInjection.constructorBased.ConflictBean">
	<constructor-arg type="java.lang.String" value="true"/>
	<constructor-arg type="boolean" value="false"/>
</bean>

<bean id="usingIndexValue" class="core.dependencyInjection.constructorBased.ConflictBean">
	<constructor-arg index="0" value="true"/>
	<constructor-arg index="1" value="false"/>
</bean>

<bean id="usingNameValue" class="core.dependencyInjection.constructorBased.ConflictBean">
	<constructor-arg name="param" value="true"/>
	<constructor-arg name="flag" value="false"/>
</bean>

<!-- passing parameters to static factory method using constructor-arg -->
<bean id="manager" class="core.dependencyInjection.constructorBased.PlatformManager" factory-method="getInstance">
	<constructor-arg index="0" value="Ubuntu"/>
	<constructor-arg index="1" value="16"/>
</bean>

</beans>